.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;               /* Full viewport height */
  background-color: #121212;   /* Dark background */
}


.header-title {
  color: #00bcd4;              /* Bright color for the title */
  font-size: 80px;             /* Large font size for the title */
  font-weight: bold;
  font-family: "Audiowide", sans-serif;
  text-align: center;
  margin: 0;                   /* Remove default margin */
  text-transform: uppercase;   /* Make the title uppercase */
  letter-spacing: 8px;         /* Add more space between the letters */
  transform: skew(-10deg);     /* Apply a slight slant to the text */
  transition: transform 0.3s ease, color 0.3s ease; /* Add smooth transition */
  text-shadow: 2px 2px 2px #ababab;
}

.header-title:hover {
  transform: skew(-10deg) scale(1.1); /* Slightly increase size on hover */
  color: #ff4081;              /* Change color on hover */
}